@tailwind base;
@tailwind components;
@tailwind utilities;

#vision{
  background-image: url('/asset/vision.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
#hero{
  background-image: url('/asset/iphonehero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
#iphone{
  background-image: url('/asset/iphone15blue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

#watch{
  background-image: url('/asset/watch.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
#grid{
  display: grid;
  grid-template-columns: repeat(2, 2fr); 
  gap: 10px;
}
#ultraWatch{
  background-image: url('/asset/watch1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 90vh;
}
#series9{
  background-image: url('/asset/9series.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 90vh;
}
#Mac{
  background-image: url('/asset/macbook.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 90vh;
}
#fitness{
  background-image: url('/asset/fitness.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 90vh;
}
#card{
  background-image: url('/asset/card.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 90vh;
}
#trade{
  background-image: url('/asset/trade.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 90vh;
}